.question{

    -webkit-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.75);

width:100%;
padding:2rem 4rem;
border-radius: 3rem;
margin: 1rem 0;
display: flex;
justify-content: space-between;
box-sizing: border-box;
border:5px solid #cccccc;
font-size:1em;
font-weight: 500;
word-wrap: break-word;
}

.QuestionEnun{
    margin-bottom: 2rem;
}

body{
    font-family: montserrat;
    width: 30vw;
    margin:2rem;
    font-size: 20px;
    box-sizing: border-box;
    text-align: justify;
}